@media(max-width:700px){
    header {
        display: block; 
        text-align: center;
        padding: 10px;
    }

    #teste{
        display: none;
    }

    #filtros > select, #filtros > button {
        width: 100%; 
        max-width: 90%; 
        margin-top: 1rem;
    }
}